<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app="alBookingApp" ng-controller="AppController"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" ng-app="alBookingApp" ng-controller="AppController"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" ng-app="alBookingApp" ng-controller="AppController"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" ng-app="alBookingApp" ng-controller="AppController"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <base href="/">
    <title>SEO Vietnam</title>
    <meta name="description" content="SEO Vietnam">
    <meta name="viewport" content="width=device-width">
    <meta property="og:url"           content="http://cuongweb.herokuapp.com" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="SEO Vietnam" />
    <meta property="og:description"   content="Tổ chức phi lợi nhuận" />
    <meta property="og:image"         content="http://cuongweb.herokuapp.com/assets/images/donate/donate-picture.3e1d4619.jpg" />
    <link rel="icon" type="image/png" href="/assets/images/logo/SEO_Vietnam.2ac140df.jpg">
    <!--<link rel="icon" sizes="144x144" href="/assets/images/donate/donate-picture.3e1d4619.jpg">-->
    <script src="assets/constant.408cd80b.js"></script>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="app/vendor.cabf91ae.css">
    <link rel="stylesheet" href="app/app.b6bb9ea4.css">
</head>
<body>
<!--[if lt IE 7]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div class="ng-scope">
    <!--<navbar class="ng-scope">-->
        <!--<div ng-controller="NavbarCtrl" class="navbar navbar-default navbar-static-top ng-scope">-->
            <!--<div class="container">-->
                <!--<div class="navbar-header">-->
                    <!--<button type="button" ng-click="isCollapsed = !isCollapsed" class="navbar-toggle"><span-->
                            <!--class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span-->
                            <!--class="icon-bar"></span><span class="icon-bar"></span></button>-->
                    <!--<a href="/" class="navbar-brand">al-booking</a></div>-->
                <!--<div id="navbar-main" collapse="isCollapsed" class="navbar-collapse collapse" aria-expanded="false"-->
                     <!--aria-hidden="true" style="height: 0px;">-->
                    <!--<ul class="nav navbar-nav">-->
                        <!--<li ng-repeat="item in menu" ui-sref-active="active" class="ng-scope active">-->
                            <!--<a ui-sref="main" class="ng-binding" href="/">Home</a>-->
                        <!--</li>-->
                     <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</navbar>-->
    <div ui-view="main"></div>
</div>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-72245143-1');
    ga('send', 'pageview');
</script>

<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->
<script src="app/vendor.ead097ca.js"></script>
<script src="app/app.05f06689.js"></script>
</body>
</html>
